.section-form-login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(60deg, $color-secondary 0%, $color-primary 100%);
}

.heading-form {
    align-self: center;
    position: absolute;
}

.heading-login {
    top: 5rem;
}

.heading-register {
    top: 2rem;
}

.btn-form {
    flex-grow: 1;
}